#registrousuario{
	background: transparent url("https://www.wallpaperbetter.com/es/hd-wallpaper-tfptm") no-repeat scroll left bottom;
	border: medium none;
	color: #990033;
	height: 800px;
	width: 490px;
	padding: 0 0 0 50px;
	margin: 0 auto;

	-moz-border-radius: 20px;
	-webkit-border-radius: 20px; 
}
#registrousuario legend{
	background: transparent url("https://www.wallpaperbetter.com/es/hd-wallpaper-telaa") no-repeat scroll left top;

	color: #6633CC;
	font-family: cooper;
	font-size: 21px;
	text-align: center;
	letter-spacing: -1px;
	padding-top: 8px;
	padding-bottom: 20;
	text-transform: capitalize;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}
#registrousuario input.texto{
	background: #FFFFFF url("https://www.wallpaperbetter.com/es/hd-wallpaper-tftya") no-repeat scroll left top;
	border: medium none !important;
	color: #FFFFFF;
	font-family: verdana;
	font-size: 12px;
	letter-spacing: -1px;
	padding-top: 5px;
	padding-bottom: 0;
	padding-left: 5px;
	height: 24px;
	width: 454px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}
#registrousuario label{
	display: block;
	font-family: cooper;
	font-size: 14px;
	padding: 10px 0 3px;
}
#registrousuario textarea.areadetexto{
	background: #FFFFFF url("https://www.wallpaperbetter.com/es/hd-wallpaper-tftya") no-repeat scroll top left;
	color: #666666;
	font-family: arial,sans-serif;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 0;
	padding-left: 5px;
	height: 212px;
	width: 454px;
	border: none !important;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}
#registrousuario input.botonenviar{
	background: transparent url("https://www.wallpaperbetter.com/es/hd-wallpaper-tavna")no-repeat scroll left top;
	color: #FFFFFF;
	display: block;
	float: left;
	font-family: arial,sans-serif;
	font-size: 18px;
	text-align: center;
	height: 30px;
	width: 99px;
	margin-left: 360px;
	margin-top: 20px;
	border: none !important;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}